[MAIN]

# Files or directories matching the regex patterns are skipped. The regex
# matches against base names, not paths.
ignore-patterns=.*(?<!py)$

[DESIGN]

# Maximum number of arguments for function / method
max-args=10

# Maximum number of locals for function / method body
max-locals=20

[FORMAT]
good-names=ax
